<button nz-button [nzType]="'primary'" style="border-radius: 8px; margin: 2px;" (click)="showModal()"><span>Profissionais</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Lista de Profissionais" 
(nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um profissionais" [(ngModel)]="selectedValue">
      <div *ngFor="let lista of profissionaisLista">
        <nz-option [nzLabel]="lista" [nzValue]="lista"></nz-option>
      </div>  
    </nz-select>
  </ng-container>
</nz-modal>
