<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" 
(nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
      <div *ngFor="let lista of profissionaisLista">
        <nz-option [nzLabel]="lista" [nzValue]="lista"></nz-option>
      </div>  
    </nz-select>
  </ng-container>
</nz-modal>
