<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-8">
      <h2>Cadastrar Produto</h2>
    </div>
    <div class="col-4 text-right">
      <button 
        nz-button 
        nzType="default" 
        nzSize="large"
        routerLink="../../gerenciar-estoque">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
        Voltar para Lista
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <nz-card nzTitle="Informações do Produto" [nzBordered]="false">
        <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
          <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="nome">Nome</nz-form-label>
                <nz-form-control></nz-form-control>
                  <input nz-input id="nome" formControlName="nome" placeholder="Nome do produto" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="codigo">Código</nz-form-label>
                <nz-form-control>
                  <input nz-input id="codigo" formControlName="codigo" placeholder="Código do produto" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="preco">Preço</nz-form-label>
                <nz-form-control>
                  <input nz-input type="number" id="preco" formControlName="preco" placeholder="Preço" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzFor="quantidade">Quantidade</nz-form-label>
                <nz-form-control>
                  <input nz-input type="number" id="quantidade" formControlName="quantidade" placeholder="Quantidade em estoque" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzFor="descricao">Descrição</nz-form-label>
                <nz-form-control>
                  <textarea nz-input id="descricao" formControlName="descricao" rows="3" placeholder="Descrição do produto"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="text-right mt-3">
            <button nz-button nzType="primary" [disabled]="produtoForm.invalid">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              Cadastrar Produto
            </button>
          </div>
        </form>
      </nz-card>
    </div>
  </div>
</div>
